.home {
    height: 0;

    &__search-input {
        margin: 20px 20px 0 20px;
        padding: 5px;
        background-color: #ddd;
        border: 1px solid #777;
        font-size: 18px;
    }

    &__advertisement {
        margin: 20px 0 0 120px;

    }

    &__featured {
        height: 375px;

        &__header {
            padding: 1rem 0;
            border-bottom: 1px solid #aaa;
        }

        &__ul {
            display: flex;
            justify-content: space-between;
            align-content: row;
        }

        &__li {
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
            align-items: center;
        }

        &__image {
            width: 200px;
        }

        &__details {

        }
    }

    &__by-company {
        min-height: 425px;
        height: 375px;

        &__header {
            padding: 1rem 0;
            border-bottom: 1px solid #aaa;
        }

        &__ul {
            display: flex;
            justify-content: space-between;
            align-content: row;
            flex-wrap: wrap;
            width: 100%;
        }

        &__li {
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
            align-items: center;
        }

        &__image {
            width: 200px;

        }

        &__companys-list {
            display: flex;
            justify-content: space-between;
            align-content: row;
            
            &__item {
                font-weight: bold;
                font-size: 18px;

                &:hover {
                    cursor: pointer;
                }
            }
        }

        &__ul {
            display: flex;
            justify-content: space-between;
            align-content: row;
        }
    }

    &__search-results {

        &__header {
            padding: 1rem 0;
            border-bottom: 1px solid #aaa;
        }

        &__ul {
            display: flex;
            justify-content: space-around;
            align-content: row;
            flex-wrap: wrap;
            overflow-y: scroll;
            max-height: 80vh;
        }

        &__li {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
        }

        &__image {
            width: 200px;
        }

        &__clear {
            padding: 5px;
            font-size: 18px;
        }
    }
}