.home {
    height: 0;

    &__head {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 10vh;
    }

    &__search-span {
        margin: auto 0;
    }

        &__search {
            margin-top: 7rem;

            &__input {
                padding: 1rem;
                background-color: #fff;
                color: #fff;
                font-weight: bold;                    
                
                &::placeholder {
                    color: #aaa;
                    font-style: italic;     
                    font-weight: normal;                    
                    
                }
            }

        &__label {
            margin: 0 20px;
            font-size: 18px;
            padding: 5px;

            &:hover {
                cursor: pointer;
                color: orange;
            }
        }
        
        &__checkbox {
            display: none;
        }

        &__checkbox__tags:not(:checked) ~ &__label__tags, &__checkbox__name:not(:checked) ~ &__label__name, &__checkbox__company:not(:checked) ~ &__label__company {
        
        }

        &__checkbox__tags:checked ~ &__label__tags , &__checkbox__name:checked ~ &__label__name, &__checkbox__company:checked ~ &__label__company {
            border: 5px solid orange;
            border-radius: 10px;
        }


    }

    &__search-tags-input {

    }

    &__search-tags-ul {
        border: 1px solid #777;
        font-size: 18px;
        margin: 0 0 0 100px;
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: white;

    }

    &__search-tags-li {

        &:hover {
            background-color: #aaa;
        }
    }

    &__advertisement {
        align-self: center;
        margin: 20px 20px -20px 0;
    }

    &__featured {
        height: 375px;

        &__header {
            color: $color-red-one;
            padding: 1rem 0;
            border-bottom: 2px solid $color-blue-light;
            font-weight: 1000;
        }

        &__ul {
            display: flex;
            justify-content: space-between;
            align-content: row;
        }

        &__li {
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
            align-items: center;
        }

        &__image {
            width: 200px;
        }

        &__details {

        }

        &__name {
            color: $color-blue-bright;
            text-align: center;
            font-weight: bold;
        }


    }

    &__by-company {
        min-height: 425px;
        height: 375px;

        &__header {
            padding: 1rem 0;
            color: $color-red-one;
            border-bottom: 2px solid $color-blue-light;
            font-weight: 1000;
        }

        &__ul {
            display: flex;
            justify-content: space-between;
            align-content: row;
            flex-wrap: wrap;
            width: 100%;
        }

        &__li {
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
            align-items: center;
        }

        &__image {
            width: 200px;

        }

        &__companys-list {
            display: flex;
            justify-content: space-between;
            align-content: row;
            
            &__item {
                font-weight: 1000;
                font-size: 18px;

                &:hover {
                    cursor: pointer;
                }
            }
        }

        &__ul {
            display: flex;
            justify-content: space-between;
            align-content: row;
        }

        &__name {
            color: $color-blue-bright;
            text-align: center;
            font-weight: bold;
        }
    }

    &__search-results {

        &__header {
            padding: 1rem 0;
            border-bottom: 1px solid #aaa;
        }

        &__ul {
            display: flex;
            justify-content: space-around;
            align-content: row;
            flex-wrap: wrap;
            overflow-y: scroll;
            max-height: 80vh;
        }

        &__li {
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
            align-items: center;
        }

        &__image {
            width: 200px;
        }

        &__clear {
            padding: 5px;
            font-size: 18px;
        }
    }
}