.home {
    height: 0;

    &__cover {
        height: 418px;
        background-image: url('https://cdn2.i-scmp.com/sites/default/files/styles/980x551/public/images/methode/2016/06/02/0de11d18-26eb-11e6-b3b6-bdf44ca17c9d_1280x720.jpg?itok=0UaisgLP');
        background-repeat: no-repeat;
        background-color: black;
        background-position: center;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: flex-start;

        &__header {
            margin: 1rem 0 0 1rem;
            background-color: #fcc;
            padding: 14px;
            
        }

        &__search {

            margin-top: 7rem;
            padding: 1rem;
            background-color: #338;
            color: #fff;
            font-weight: bold;                    
            
            &::placeholder {
                color: #aaa;
                font-style: italic;     
                font-weight: normal;                    
                    
            }

            &__button {
                padding: 1rem;
            }
        }
        
        &__login {
            margin: 1rem 1rem 0 0;

            &__content {
                margin: 1rem;
                background-color: #4a4;
                color: #eee;
                font-weight: bold;
                padding: 1rem;
                border-radius: 10px;
            }
        }
    }

    &__featured {
        height: 375px;

        &__header {
            padding: 1rem 0;
            border-bottom: 1px solid #aaa;
        }

        &__ul {
            display: flex;
            justify-content: space-between;
            align-content: row;
        }

        &__li {
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
            align-items: center;
        }

        &__image {
            width: 200px;
        }

        &__details {

        }
    }

    &__by-company {
        min-height: 425px;
        height: 375px;

        &__header {
            padding: 1rem 0;
            border-bottom: 1px solid #aaa;
        }

        &__ul {
            display: flex;
            justify-content: space-between;
            align-content: row;
            flex-wrap: wrap;
            width: 100%;
        }

        &__li {
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
            align-items: center;
        }

        &__image {
            width: 200px;

        }

        &__companys-list {
            display: flex;
            justify-content: space-between;
            align-content: row;
            
            &__item {
                font-weight: bold;
                font-size: 18px;

                &:hover {
                    cursor: pointer;
                }
            }
        }

        &__ul {
            display: flex;
            justify-content: space-between;
            align-content: row;
        }
    }

    &__search-results {

        &__header {
            padding: 1rem 0;
            border-bottom: 1px solid #aaa;
        }

        &__ul {
            display: flex;
            justify-content: space-around;
            align-content: row;
            flex-wrap: wrap;
        }

        &__li {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
        }

        &__image {
            width: 200px;
        }

        &__clear {
            padding: 5px;
            font-size: 18px;
        }
    }
}