.nav {
    height: 100vh;
    // background-color:#ECF0F1;
    border-right: 4px dashed $color-blue-light;

    &__logo {
        width: 100%;
    }

    &__ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: left;
        height: 70vh;
        // padding: 95px 0 95px 35px;
        padding: 40% 0 20% 20%;
    }

    &__li {
        font-family: 'Nunito', sans-serif;
        font-size: 18px;
    }

    &__a {
        // color: #ED5C66;
        color: $color-blue-dark;
        &:hover {
            text-decoration: none;
        }
    }
}