.product-page {

    &__ramen-name {
        margin: 50px 0 0 50px;
        font-size: 48px;
        font-weight: bold;
        color: $color-blue-really-bright;
    }

    &__main {
        margin-top: 10rem;
        text-align: center;
        display: flex;
        justify-content: space-between;

        &__left {
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            width: 47.5%;
        }

        &__right {
            width: 47.5%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            background-color: $color-nav;
            margin: 0;
            
            &__top {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
                padding: 10px;
            }
        }

        &__wrap {
            padding: 20px;
        }

        &__favorite {
            width: 50px;
            margin-left: 100px;
        }

        &__image {
            align-self: center;
            width: 300px;
        }

        &__user-rating {

        }

        &__number-rating {
            font-size: 96px;
            color: $color-red-one;
        }

        &__total-rating {
            padding: 20px;
        }

        &__review-button {
            outline:none;
            height: 50px;
            text-align: center;
            width: 150px;
            border-radius:40px;
            background: #fff;
            border: 2px solid $color-blue-dark;
            color:$color-blue-dark;
            letter-spacing:1px;
            text-shadow:0;
            cursor: pointer;
            transition: all 0.25s ease;
            font-weight: bold;
                &:hover {
                    color:white;
                    background: $color-blue-dark;
                
                }

        }


        

        &__reviews {
            color: $color-blue-bright;
        }
    }

    &__review {
        width: 47.5%;
        padding: 10px;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        background-color: $color-nav;
        margin: 0; 

        &__form {
            float:right;
            margin: 0 auto;
        }

        &__rating {
            color: $color-blue-bright;
        }

        &__text {
            font-size: 16px;
            display: block;
            border: 1px solid white;
            border-radius: 6px;
        }

        &__go-back {
            cursor: pointer;
            float: left;
            &:hover {
            text-decoration: none;
            }
        }

        &__button {
            outline:none;
            height: 50px;
            text-align: center;
            width: 150px;
            border-radius:40px;
            background: #fff;
            border: 2px solid $color-blue-dark;
            color:$color-blue-dark;
            letter-spacing:1px;
            cursor: pointer;
            transition: all 0.25s ease;
            font-weight: bold;
            float: right;
            margin-top: 14px;
                &:hover {
                    color:white;
                    background: $color-blue-dark;
                
                }
        }
    }

    &__reviews {
        margin-top: 50px;

        &__ul {
            color: $color-review;
        }
    }

}