.product-page {

    &__ramen-name {
        margin: 50px 0 0 50px;
        font-size: 48px;
        font-weight: bold;
        color: $color-blue-really-bright;
    }

    &__main {
        margin-top: 10rem;
        text-align: center;
        display: flex;
        justify-content: space-between;

        &__left {
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            width: 47.5%;
        }

        &__right {
            width: 47.5%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            background-color: $color-nav;
            margin: 0;
            
            &__top {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
                padding: 10px;
            }
        }

        &__wrap {
            padding: 20px;
        }

        &__favorite {
            width: 50px;
            margin-left: 100px;
        }

        &__image {
            align-self: center;
            width: 300px;
        }

        &__user-rating {

        }

        &__number-rating {
            font-size: 96px;
            color: $color-blue-really-bright;
        }

        &__total-rating {
            padding: 20px;
        }

        &__review-button {
            // background: #3498db;
            // background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
            // background-image: -moz-linear-gradient(top, #3498db, #2980b9);
            // background-image: -ms-linear-gradient(top, #3498db, #2980b9);
            // background-image: -o-linear-gradient(top, #3498db, #2980b9);
            //background-image: linear-gradient(to bottom, #3498db, #2980b9);
            // -webkit-border-radius: 28;
            // -moz-border-radius: 28;
            // border-radius: 28px;
            // color: $color-white;
            // font-size: 20px;
            // padding: 10px 20px 10px 20px;
            // text-decoration: none;
            outline:none;
            height: 50px;
            text-align: center;
            width: 150px;
            border-radius:40px;
            background: #fff;
            border: 2px solid $color-blue-dark;
            color:$color-blue-dark;
            letter-spacing:1px;
            text-shadow:0;
            cursor: pointer;
            transition: all 0.25s ease;
            font-weight: bold;
                &:hover {
                  
                    color:white;
                    background: $color-blue-dark;
                
                    // transform: scaleX(0);
                    // box-shadow: 0 1rem 2rem rgba($color-black,.2);
                    // transition: transform .5s cubic-bezier(.48,0,.12,1) .9s,-webkit-transform .5s cubic-bezier(.48,0,.12,1) .9s;
                    // will-change: transform;
                }
                // &::after {
                //     transform: scaleX(1.4) scaleY(1.6);
                //     opacity: 0;
                // }
        }


        

        &__reviews {
            color: $color-blue-bright;
        }
    }

    &__review {
        width: 47.5%;
        padding: 10px;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        background-color: #bbb;
        margin: 0; 

        &__form {
            float:right;
            margin: 0 auto;
        }

        &__rating {
            
        }

        &__text {
            font-size: 16px;
            display: block;
        }

        &__go-back {
            cursor: pointer;
            margin-right: 200px;
        }

        &__button {
            padding: 5px;
        }
    }

    &__reviews {
        margin-top: 50px;
    }
}