.product-page {

    &__ramen-name {
        margin: 50px 0 0 50px;
        font-size: 48px;
        font-weight: bold;
    }

    &__main {
        margin-top: 10rem;
        text-align: center;
        display: flex;
        justify-content: space-between;

        &__left {
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            width: 47.5%;
        }

        &__right {
            width: 47.5%;
            padding: 10px;
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            align-items: center;
            background-color: #bbb;
            margin: 0; 
        }

        &__favorite {
            width: 50px;
            margin-left: 100px;
        }

        &__image {
            align-self: center;
            width: 300px;
        }

        &__user-rating {

        }

        &__number-rating {
            font-size: 96px;
        }

        &__total-rating {

        }

        &__review-button {
            padding: 5px;
        }
    }

    &__review {
        width: 47.5%;
        padding: 10px;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        background-color: #bbb;
        margin: 0; 

        &__form {
            float:right;
            margin: 0 auto;
        }

        &__rating {

        }

        &__text {
            font-size: 16px;
            display: block;
        }

        &__go-back {
            cursor: pointer;
            margin-right: 200px;
        }

        &__button {
            padding: 5px;
        }
    }

    &__reviews {
        margin-top: 50px;
    }
}