.loading {
    position: fixed;
    left: 60vh;
    top: 40vh;
    font-size: 48px;
}

.pointer-cursor {
    cursor: pointer;
}

.item-list-button {
    align-self: center;
    font-size: 48px;
    color: #F4D03F;
    background-color: transparent;
    border: transparent;

}

.nav-div {
    width: 15%;
    position: fixed;
    display: inline-block;
}

.main-div {
    margin-left: 15%;
    width: 85%;
    display: inline-block;
}